* {
    font-size: 2vh;
    background-color: #222222;
    color: rgb(220, 220, 220);
}
hr {
    color: red;
}
a {
    color: rgb(0, 150, 0);
}
h1 {
    margin: 0 0 -1vh 0;
}
.red {
    color: red;
}
.data {
    display: flex;
    float: left;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.data * {
    padding: 0 1.5vh 0 1.5vh;
}

div {
    display: none;
}